<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10">
	<listeners>
		<listener class-name="com.mindtree.mercurytours.utility.ExtentReport" />
	</listeners>
	<test thread-count="2" name="Test">
		<classes>
			 <class
				name="com.mindtree.mercurytours.testscases.BookingReturnFlight"  />
			<class 
				name="com.mindtree.mercurytours.testscases.ValidatingLoginCredentials" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
